[submodule "Code/PDSLibrary"]
	path = Code/PDSLibrary
	url = https://github.com/dsaocean/PDSLibrary.git
[submodule "Code/UDP_Service"]
	path = Code/UDP_Service
	url = https://github.com/dsaocean/UDP_Service.git
